{
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tailwindFunctions": ["clsx", "cn"],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
